<form action="https://demo2.2c2p.com/2C2PFrontEnd/SecurePayment/PaymentAuth.aspx" method="post" >
  <input type="hidden" name="paymentRequest" value="<%= @payload %>">
  <input type="submit" value="pay!">
</form>
